<%= simple_form_for @server_status do |f| %>
  <div class="items-center shadow p-3 mb-3 bg-white rounded">
    <%= f.input :status, as: :radio_buttons, collection: ServerStatus::ALLOWED_STATUSES %>
    <%= f.input :message %>
    <%= f.button :submit, class: "items-center btn btn-info btn-sm" %>
  </div>
<% end %>
