.navbar-verafi {
  justify-content: space-between;
  background: white;
}

.navbar-verafi .navbar-collapse {
  flex-grow: 0;
}

.navbar-verafi .navbar-brand img {
  width: 100px;
  filter: invert(100%);
}
