<div class="container items-center">
  <div class="shadow p-3 mb-3 bg-white rounded">
    <% @server_statuses.each do |server_status| %>
      <div class="d-flex justify-content-center">
        <div class="container">
          <h3 class="pt-2 text-status"><b><%= server_status.message %> <% if server_status.status == "UP" %>
                                                                         <i class="far fa-thumbs-up text-success"></i>
                                                                       <% else %>
                                                                         <i class="far fa-thumbs-down text-danger"></i>
                                                                       <% end %></b></h3>
          <h4 class="text-muted text-timestamp">Updated at <%= server_status.updated_at.strftime("%k:%M:%S %e %B %Y") %></h4>
        </div>
        <div class="d-flex align-items-center">
          <% if user_signed_in? %>
            <%= link_to "Edit", edit_server_status_path(server_status), class: 'btn btn-primary btn-sm' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="container items-center">
      <p><%= link_to "Update server status", new_server_status_path, class: 'btn btn-info btn-sm' %></p>
    </div>
  <% end %>
</div>
